.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.editorconfig
yarn.lock
package-lock.json
.eslintrc.js
.eslintrc.json
.eslintrc
.prettierrc.yml
.prettierrc.yaml
.prettierrc.js
.prettierrc.json

.github
